body {
    position: absolute;
    width: 60%;
    right: 20%;
    left: 20%;
}

svg * {
    transition: opacity 1s;
}
.hidden {
    opacity: 0;
}

#slidecontainer {
    width: 100%; /* Width of the outside container */
    bottom: 0;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #E97E00;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.floorplan {
    left: 10%;
    top: 0px;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}

#emptyFloorplan {
    z-index: -3;
}

#existingFloorplan {
    z-index: -2;
}

#proposedFloorplan {
    z-index: -1;
}


#clippaths {
    left: 0px;
    top: 0px;
    position: absoloute;
    max-width: 100%;
    max-height: 100%;
}