@charset "utf-8";
@font-face {
  font-family: 'Blender-book';
  src: url('https://bvn-architecture.github.io/techtree/assets/blenderpro-book-webfont.woff');
}

:root {
    --theme-colour: rgba(36, 127, 255, 0.49);
    --theme-colour-opaque:  #276fe2;
    --slider-background: #d3d3d3;
    --title-colour: #fff;
}

body {
    max-width: 100%;
    max-height: 100%;
    font-family: 'Muli', sans-serif;
    display: table-cell;
}

svg * {
    transition: opacity 1s;
}
.hidden {
    opacity: 0;
}

#slidecontainer {
    width: 100%; /* Width of the outside container */
    min-height: 3vmin;
    bottom: 0;
}

#notes {
    font-size: 2vmin;
    height: 3vmin;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: var(--slider-background);
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--theme-colour-opaque);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--theme-colour-opaque);
    cursor: pointer;
}

.floorplan {
    left: 10%;
    top: 0px;
    /*position: absolute;
    /*max-width: 100%;
    max-height: 100%;*/
    z-index: -1;
}

#emptyFloorplan {
    z-index: -3;
}

#existingFloorplan {
    z-index: -2;
}

#proposedFloorplan {
    z-index: -1;
}

/*
#clippaths {
    left: 0px;
    top: 0px;
    position: absoloute;
    max-width: 100%;
    max-height: 100%;
}*/

h1 {
    color: var(--title-colour);
    background-color: var(--theme-colour);
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 7.5vmin;
    padding: 1.5vmin;
}

#date {
    font-size: 2vmin;
}

#chart_div * {
    font-family: 'Muli', sans-serif !important;
    color: var(--theme-colour) !important;
}

#chart_div {
    font-family: 'Muli', sans-serif !important;
    color: var(--theme-colour) !important;
    max-width: 100%;
}




/* Grid stuff */


.grid__title {
    /* grid-area: 1 / 1 / 2 / 3; */
    grid-area: title;
    top: 0px;
    color: var(--title-colour);
    background-color: var(--theme-colour);
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 7.5vmin;
    padding: 1.5vmin;
}

.grid__floorplan {
    /* grid-area: 2 / 1 / 3 / 2; */
    grid-area: floorplan;
}

.grid__slider {
    grid-area: slider;
}

.grid__gantt {
    /* grid-area: 2 / 2 / 3 / 3; */
    grid-area: gantt;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 13vh
                        7vh
                        1fr;
    grid-template-areas: "title title"
                         "slider slider"
                         "floorplan gantt";
    min-height: 100vh;
    /* grid-auto-flow: row; */
}

@media screen and (max-aspect-ratio: 1/1) {

    .grid__title {
        /* grid-area: 1 / 1 / 2 / 2; */
        grid-area: title;
        align-self: start;
    }

    .grid__floorplan {
        /* grid-area: 2 / 1 / 3 / 2; */
        grid-area: floorplan;
    }

    .grid__slider {
        grid-area: slider;
    }

    .grid__gantt {
        /* grid-area: 3 / 1 / 4/ 2; */
        grid-area: gantt;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 13vh
                            1fr
                            7vh
                            1fr;
        grid-template-areas: "title"
                             "floorplan"
                             "slider"
                             "gantt";
    }
}

.blueBackground {
    background: var(--theme-colour);
    color: var(--title-colour);
    padding: 10px;
}

.underline {
    /* Underlines are weird and hard to customise apparently. */
    /* These look fairly ugly so I've left the code but it isn't used. */
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 0.85;
}